.comment {
    padding: 16px;
    margin-bottom: 24px;
    border: 1px dashed lightgray;
    border-radius: 2px;
}

.comment > textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}