.newsDetail {
  margin: 24px;
  padding: 16px;
  border: 1px dashed lightgray;
  border-radius: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
}


.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentCount{
  font-size: 6px;
}

.commentIcon{
  cursor: pointer;
}

.content {
  margin-bottom: 24px;
}
